body {
  padding: 0;
  margin: 0;
  color: #254c5f;
}

a {
  text-decoration: none;
  margin: 0 12px;
  color: #254c5f;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #dda687;
  position: fixed;
}

.header .top-center {
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.top-center .nav-primary,
.top-center .nav-secondary {
  margin: 0 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.top-center .blog-name {
  margin: 0 12px;
  display: flex;
  font-size: 50px;
  align-items: center;
}

.sliders {
  height: 100vh;
  min-height: calc(100vh - 92px);
  background: url("assets/images/bg-image.jpg") no-repeat fixed top;
}

.container .our-goal {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-goal .goal-content {
  text-align: center;
  width: 70%;
}

.container .our-populate-blog {
  padding: 12px;
  text-align: center;
  height: 600px;
  background-color: rgba(235, 235, 235, 0.4);
}

.our-populate-blog .populate-blog-list {
  display: flex;
  justify-content: center;
}

.populate-blog-list .blog-image {
  flex: 30%;
  margin: 2%;
  border: #254c5f solid;
}
